
header {
    font-family: "Bookman Old Style";
    nav {
        background-color:rgb(177, 163, 255);
        height: 60px;

        ul {
            display: flex;
            display: block;
            text-align: center;

            li {
                //margin: 20px;
                list-style: none;
                display: inline-block;

                a {
                    text-decoration: none;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                a:hover {
                    background: rgb(228, 170, 255);
                }
            }
        }
        
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(228, 170, 255);
    font-family: "Bookman Old Style";
    
    

    .container {
        padding: 2px;
        margin: 5px;
        min-height: 100vh;

        .rides {
            background-color: rgb(255, 255, 255);
            padding: 5px;
            margin: 5px;
            box-shadow: 3px 3px gray;
            text-align: center;
            min-width: 45vh;

            table {
                border-collapse: collapse;
                width: 100%;

                td, th {
                    border-right: solid;
                    border-color: rgb(209, 209, 209);
                    border-width: 2px;
                    padding: 3px;
                }

                td:last-child {
                    border: none;
                }
            }

            .message {
                text-align: left;
                padding: 1px;
                margin: 1px;
                background-color: rgb(238, 235, 255);
                width: 100vh;
                resize: none;

                .msg_detail_d {
                    font-size: 75%;

                    p {
                        color: red;
                    }
                }

                .msg_detail_p {
                    font-size: 75%;
                    
                }
            }
            .msg_form {
                background-color: rgb(238, 235, 255);
                padding: 1px;
                margin: 1px;

                form {

                    textarea {
                        border: 2px solid;
                        border-color: rgb(191, 53, 255);
                        width: 97%;
                        height: 100px;
                        resize: vertical;
                        
                    }

                    button {
                        background-color: rgb(228, 170, 255);
                        color: white;
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }

        .forms {
            background-color: rgb(255, 255, 255);
            padding: 5px;
            margin: 5px;
            box-shadow: 3px 3px gray;

            form {
                
                input[type=text] {
                    border: 2px solid;
                    border-color: rgb(191, 53, 255);
                    width: 95%;
                    
                }

                input[type=password] {
                    border: 2px solid;
                    border-color: rgb(191, 53, 255);
                    width: 95%;
                    
                }

                input[type=number] {
                    border: 2px solid;
                    border-color: rgb(191, 53, 255);
                    
                }
                input[type=checkbox] {
                    border: 2px solid;
                    border-color: rgb(191, 53, 255);
                
                }
                button {
                    background-color: rgb(228, 170, 255);
                    color: white;
                    width: 100%;
                    padding: 10px;
                }
            }
            
        }
    }
}