{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="rides">
    <h2>Dodaj przejazd jako kierowca</h2>
  </div>
  <div class="forms">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.help_text }}<br>
          {{ field }}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Dodaj przejazd</button>
    </form>
  </div>
</div>
{% endblock %}