<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'drivers/styles.css' %}">
    
    <title>Carpooling</title>

  </head>
  <body>
    <header>
      {% block nav %}
      <nav>
        <ul id=nav>
          <li><a href="{% url 'home' %}">Strona Główna</a></li>
          <li><a href="{% url 'add_driver' %}">Kierowca</a></li>
          <li><a href="{% url 'add_passenger' %}">Pasażer</a></li>
          {% if user %}
          <li><a href="{% url 'profil' %}">Przejazdy</a></li>
          <li><a href="{% url 'edit_profile' %}">Edytuj dane</a></li>
          <li><a href="{% url 'logout' %}">Wyloguj się</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Logowanie</a></li>
          <li><a href="{% url 'rejestracja' %}">Rejestracja</a></li>
        {% endif %}
        
        </ul>
      </nav>
      {% endblock %}      

    </header>
    <main>
    
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>